# Exclude Python cache files and directories
__pycache__/

# models
models/

# Exclude pycache from denoiser & query_engine
src/denoiser/__pycache__
src/query_engine/__pycache__

# Exclude noise directory
src/denoiser/noise/

# Secret keys
.env